.border {
    background-color: #000000;
    width: 1903px;
    height: 80px;
    display: flex;
    flex-direction: row;
}



.kop {
    width: 200px;
    margin-left: 20px;
    margin-top: 7px;
}

.cop {
    margin-left: 1200px;
    margin-right: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
}

.ckop {
    margin-right: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
}

.op {
    margin-right: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
}

.ko {
    margin-top: 30px;
    text-decoration: none;
    color: #ffffff;
}

.img {
    width: 1226px;
}

.nazv {
    width: 660px;
    margin-left: 16px;
    margin-right: 16px;

}

.ol {
    display: flex;
    flex-direction: row;
}

.niz {
    height: 1080px;
    width: 1903px;
    background-color: #ffffff;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Отступ между блоками */
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    height: 1080px;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Размещает текст и картинку равномерно */
    gap: 20px;
}

.containe {
    display: flex;
    
    align-items: center;
    justify-content: space-between; /* Размещает текст и картинку равномерно */
    gap: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Размещает текст и картинку равномерно */
    gap: 20px;
}

.containe {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Размещает текст и картинку равномерно */
    gap: 20px;
}

.reverse {
    flex-direction: row-reverse; /* Меняет порядок (картинка справа) */
}

.revers {
    flex-direction: row-reverse; /* Меняет порядок (картинка справа) */
}

.image {
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень для красоты */
}

.text {
    max-width: 500px;
    text-align: left;
}

.but {
    width: 250px;
    height: 28px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}

.buto {
    width: 250px;
    height: 28px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
}

.poi {
    width: 1000px;
}

.pif {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.bodali {
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #000000;
}

.n {
    margin-bottom: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-radius: 10px;


}

.e{
    margin-bottom: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-radius: 10px;

}

.p{
    margin-bottom: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-radius: 10px;

}

.o {
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #000000;

}

.nizi {
    height: 230px;
}
