@media screen and (max-width:  1366px){
    .bot {
        width: 1139px;
    }

}

@media screen and (max-width:  1237px){

    .rob {
        margin-left: 80px;
    }

}

@media screen and (max-width:  1192px){
    .rob {
        margin-left: 160px;
    } 

    .proga {
        margin-right: 30px;
        width: 1000px;
    }

    .hah {
        margin-top: 250px;
    }

    .lho {
        width: 1000px;
    }

    .progir {
        width: 600px;
    }
}


@media screen and (max-width: 768px) {
    .mom{
        margin-bottom: 0px;
    }

    .hah{
        margin-top: 0px;
    
    }

    .model { 
        width: 550px;
        margin-left: 43px;
    }

    .proga {
        width: 600px;
        margin-right: 25px;
    }

    .rob {
        width: 500px;
        margin-left: 74px;
    }

    .pencil {
        width: 500px;
    }

    .lho {
        width: 500px;
    }

    .progir {
        width: 500px;
    }
}

@media screen and (max-width: 576px){
    .pencil {
        width: 400px;
    }

    .rob {
        width: 400px;
        margin-left: 30px;
    }

    .pel {
        width: 400px;
        margin-left: 3px;
    }

    .proga {
        width: 400px;
    }

    .model { 
        width: 400px;
        margin-left: 30px;
    }

    .lho {
        width: 450px;
    }

    .progir {
        width: 400px;
    }

    .prog {
        width: 450px;
    }
}

@media screen and (max-width: 460px){
    .pencil {
        width: 300px;
    }

    .rob {
        width: 300px;
        margin-left: 20px;
    }

    .pel {
        width: 300px;
    }

    .proga {
        width: 300px;
    }

    .model { 
        width: 300px;
        margin-left: 25px;
    }
    .lho {
        width: 300px;
    }

    .progir {
        width: 300px;
    }
    .prog {
        width: 300px;
    }
}

@media screen and (max-width: 414px){

}



@media screen and (max-width: 375px){

    .niz {
        height: 2000px;
    }

    .img {
        display: none;
    }
    .border {
        flex-direction: column;
        width: 375px;
    }

    .cop {
        margin-left: 0px;
        margin-top: 0px;
    }

    .ckop {
        margin-top: 10px;
        
    }

    .op {
        margin-top: 10px;
        
    }

    .ko {
        margin-top: 10px;
        
    }

    .nmz {
        margin-top: 100px;
    }

    .sections {
        margin-left: 0px;
     
    }

    .image {
        width: 280px;
    }

    .revers {
        flex-direction: column-reverse;
    }

    .reverse {
        flex-direction: column;
    }



    .container {
        align-items: normal;
        justify-content: normal;
    }

    .containe {
        align-items: normal;
        justify-content: normal;
        display: flex;
        flex-direction: column-reverse;
    }

    .sdac {
        width: 300px;
    }


}


